@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
    background-color: rgb(187, 171, 201);
}

section {
    border: 2px solid purple;
    min-width: 45%;
}

section > header {
    background-color: mediumpurple;
    color: white;
    border-color: purple;
}
