@media screen {
    :root {
        --color-blue: rgb(63, 136, 197);
        --color-grey: rgb(221, 221, 221);
        --color-orange: rgb(255, 140, 0);
        --color-yellow: rgb(241, 196, 15);

        --inline-height: 3rem;

        --spacing-default: 5rem;
    }

    @media (min-width: 1px) {
        * {
            display: flex;
            flex-direction: column;
        }
        button:disabled {
            background-color: transparent;
            border: 1px solid var(--color-yellow);
            cursor: not-allowed;
            color: white;
        }
        button:enabled {
            background-color: var(--color-yellow);
            border: none;
        }
        button:enabled:hover {
            cursor: pointer;
        }
        button[type=submit], button.select-button {
            color: rgb(0, 0, 0);
            font-size: 1rem;
            height: var(--inline-height);
            width: 10rem;
            border-radius: 4px;
            font-weight: 500;
            justify-content: center;
        }
        button.select-button {
            width: 14rem;
        }
        i.fa {
            font-size: 4rem;
            width: 4rem;
        }
        section.price-box {
            height: 23rem;
        }

        .price-box-container {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    @media (min-width: 800px) {
        .pricing-row {
            flex-direction: column;
        }
    }

    @media (min-width: 1600px) {
        i.fa {
            font-size: 5.5rem;
            vertical-align: baseline;
            width: 10rem;
        }
        section.price-box {
            height: unset;
        }

        .pricing-row {
            flex-direction: row;
        }
    }

   
    body {
        background-color: rgb(238, 229, 229);
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
    }
    h1 {
        font-size: 4.5rem;
    }
    h1, h2 {
        margin: 0;
    }
    header {
        flex-direction: row;
        height: 3rem;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        width: 100%;
    }
    header > img {
        align-self: center;
        height: 2rem;
        margin-left: calc(var(--spacing-default) - 2rem);
    }
    
    input {
        padding-left: 1rem;
        width: 30rem;
    }
    input[type=email]:invalid {
        border-color: red;
    }
    main {
        gap: 5rem;
        padding: 5rem 2rem 2rem;
        max-width: 90vw;
        align-content: center;
    }
    nav {
        align-items: center;
        gap: 2rem;
        flex-direction: row;
        margin-right: var(--spacing-default);
        text-decoration: none;
    }
    section {
        gap: 2rem;
    }
    section.guarantees {
        min-width: unset !important ;
    }
    section.guarantees > div {
        flex-direction: row;
        gap: 2rem;
    }
    section.price-box {
        align-items: center;
        border: 1px solid black;
        gap: 0;
        max-width: 20vw;
        min-width: unset !important;
    }
    section.price-box > header {
        height: 3rem;
        color: black;
        text-transform: uppercase;
        background-color: var(--color-grey);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    section.price-box > main {
        align-items: center;
        padding: 1rem;
    }
    section.price-box > main > ul {
        line-height: 1.5rem;
    }
    section.price-box > main > p {
        font-size: 2rem;
    }
    ul {
        padding: 1rem;
        margin: 0;
    }

    .fa {
        color: var(--color-orange);
    }
    .nav-link {
        color: rgb(000, 000, 000);
        text-decoration: none;
    }
    .row {
        width: 100%;
        gap: 2rem;
    }
    .row > section {
        min-width: 46%;
    }
    .video-container {
        align-items: flex-end;
    }

    /** Items displayed by the local server **/
    script, style, title {
        display: none;
    }

    /** Utility Classes */
    .align-items-center {
        align-items: center;
    }
    .bold {
        font-weight: bold;
    }
    .fd-r {
        flex-direction: row;
    }
    .gap-1 {
        gap: 1rem;
    }
    .margin-bottom-0 {
        margin-bottom: 0;
    }
}